/** 색상을 정의하는 SCSS 파일

  * 본체가 아닌, 참조용 파일인 _colors.scss는 컴파일(변환)될 필요가 없다.
    파일이름에 `_`가 붙으면 컴파일 되지 않으며,
    `파일명.css`파일이 생성되지 않는다.
  */

// $변수명 : 값;
$black : #000;
$dark-gray : #444444;
$gray : #616161;
$gray-op : #61616177;
$light-gray : #eeeeee;
$white : #f1f1f1;
$black-op : #00000011;
$pink : rgb(255, 0, 102);

// 사이트의 기본 색상값들에 대한 변수 설정
// (실제 페이지 작업시에는 사이트의 색상 테마의 값들을 나열)